<header>
  <div class="nav-container">
    <h1 class="brand">👕 ReWear</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
  </div>
</header>
