<% layout = 'layout' %>

<h2>Welcome to ReWear</h2>
<p>Give your clothes a second life by swapping or donating them.</p>

<div>
  <p>
    <a href="/login">Login</a> or
    <a href="/register">Register</a> to get started!
  </p>
</div>
