<% layout = 'layout' %>

<h2>Create an Account</h2>

<form action="/api/auth/signup" method="POST" class="form-box">
  <label>Name:</label>
  <input type="text" name="name" required />

  <label>Email:</label>
  <input type="email" name="email" required />

  <label>Password:</label>
  <input type="password" name="password" required />

  <button type="submit">Register</button>
</form>
